[Unit]
Description=Kubernetes Control Plane Bootstrapping
Documentation=https://github.com/kubernetes-incubator/bootkube

[Service]
ExecStart=/usr/local/bin/bootkube start --asset-dir=/home/{{ ansible_user }}/.bootkube
Restart=on-failure

[Install]
WantedBy=multi-user.target
